
.App {
  text-align: center;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #ff9900;
  font-weight: bold;
}
